.row
  .columns.small-12.text-center
    %h2 All Groups
%hr

%ul.small-block-grid-3.medium-block-grid-4.large-block-grid-5
  - @groups.each do |group|
    %li
      = link_to group do
        .card.card--tight.text-center
          = image_tag group.logo.url
          .padded
            %h4= group.title
