.row
  .columns.small-12.text-center
    %h2 All events
%hr

%ul.small-block-grid-2.medium-block-grid-3.large-block-grid-5
  - @group.events.each do |event|
    %li
      = link_to [@group, event] do
        .card.card--tight.text-center
          %img{:src => "https://cloud.githubusercontent.com/assets/1238468/7652251/914bded8-fb02-11e4-91e2-fe88bb82e631.jpg"}
          .padded
            %h4= event.title
