.button {
  @include button-builder($primary-color);
  border: 1px solid;
  border-radius: $global-radius;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  background: $white;
  font-size: $paragraph-font-size;
  cursor: pointer;

  &:hover {
    color: $white;
  }

  &--block {
    display: block;
  }

  &--primary {
    @include button-builder($purple);
  }

  &--secondary {
    @include button-builder($stone);
  }

  &--positive {
    @include button-builder($green);
  }

  &--negative {
    @include button-builder($red);
  }
}

input[type="submit"] {
  border-radius: $global-radius;
  line-height: $paragraph-line-height;
}
