body {
  background: $primary-color;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTY3ZTIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3NGMzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  $primary-color 0%, $red 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$primary-color), color-stop(100%,$red));
  background: -webkit-linear-gradient(-45deg,  $primary-color 0%,$red 100%);
  background: -o-linear-gradient(-45deg,  $primary-color 0%,$red 100%);
  background: -ms-linear-gradient(-45deg,  $primary-color 0%,$red 100%);
  background: linear-gradient(135deg,  $primary-color 0%,$red 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$red',GradientType=1 );
}

.logo {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: image-url("logo.png");
  width: 324px;
  height: 109px;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  margin-bottom: $spacing;
}
