@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import 'foundation_and_overrides';

body {
  background: $orange;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTY3ZTIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3NGMzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  $orange 0%, $red 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$orange), color-stop(100%,$red));
  background: -webkit-linear-gradient(-45deg,  $orange 0%,$red 100%);
  background: -o-linear-gradient(-45deg,  $orange 0%,$red 100%);
  background: -ms-linear-gradient(-45deg,  $orange 0%,$red 100%);
  background: linear-gradient(135deg,  $orange 0%,$red 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$red',GradientType=1 );
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

small {
  font-size: 0.8em;
}

.button {
  border: 1px solid $primary-color;
  border-radius: $global-radius;
  padding: $spacing / 2;
  display: inline-block;
  margin-bottom: $spacing;
  text-align: center;

  &--block {
    display: block;
  }

  &--positive {
    border-color: $green;
    color: $green;
  }

  &--negative {
    border-color: $red;
    color: $red;
  }
}

.meta {
  // border-radius: 2px;
  font-weight: bold;
  font-size: 0.6em;
  text-transform: uppercase;
  background: $gray-dark;
  display: inline-block;
  padding: 0 4px;
  color: $white;
  // margin-bottom: $spacing / 2;
}

.hard-left {
  border-left: 2px solid $gray-light;
}

p {
  font-size: 0.9em;
}

p {
  &.subtle {
    font-size: 0.75em;
  }
}

.subtle {
  color: $gray-darker;
}

.card {
  background: $white;
  padding: $spacing;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.avatar {
  border-radius: 100%;
}

.tight {
  margin: 0;
}

header {
  text-align: center;
  h1 {
    font-size: 3.5em;
    color: $white;
  }
}

.text--dark {
  color: $black;
}

.swatch {
  margin-bottom: $spacing;
  border-radius: $global-radius;
  padding: 10px;
  padding-top: 40px;
  text-align: center;
  color: $white;
  font-family: $font-family-monospace;

  &--bordered {
    border: 1px solid $gray;
  }
}
